<html>
    <head>
        <title>Two-Minute Tutorials</title>
    </head>
    <body>
        <div>
            <h1><a href="">Two-Minute Tutorials</a></h1>
        </div>


        <div>
            <p>published: 02.01.2017, 9:38</p>
            <h2><a href="">Let's get started</a></h2>
            <p>Placeholder for now</p>
        </div>

        <div>
            <p>published: 02.01.2017 9:40</p>
            <h2><a href="">Let's get started part II</a></h2>
            <p>Placeholder for now</p>
        </div>
    </body>
</html>
